<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./template.css">
    <title>Document</title>
</head>
<body>
    <div class="whole-page">
        <div class="blank">BLANK</div>
        <main>
        <div class="nav">
            <h1>NAV</h1>
            <a href=""></a>
            <button></button>
        </div>
        <div class="c-wrap">
            <div class="l-col">L-COL
                <div class="l-1">L-1</div>
            </div>
            <div class="r-col">R-COL
                <div class="r-1">R-1</div>
            </div>
        </div>
        </main>
        <div class="blank">BLANK</div>
    </div>
</body>
</html>