*{
    margin: 0 auto;
    padding: 0 auto;
}
.whole-page{
    display:flex;
    flex-direction: row;
}
.blank{
    background-color: beige;
    flex: 1;
}
main{
    flex: 5;
}
.nav{
    flex:1;
    background-color: blue;
}
.c-wrap{
    display: flex;
    flex-direction: row;
    flex:1;
}
.l-col{
    background-color: brown;
    flex:3;
}
.r-col{
    flex:2;
    background-color: blueviolet;
}